@use '/app//assets/variables' as *;

.section {
  width: 100%;
  background-color: $color-grey-light;
  padding: 133px 140px 20px 80px;
}

.gameBody {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.title {
  padding-right: 360px;
  font-size: 32px;
  font-weight: 600;
  line-height: 1.16;
}

@media screen and (max-width: $viewport-xxxl) {
  .section {
    padding-right: 20px;
  }
}

@media screen and (max-width: $viewport-xxl) {
  .title {
    padding-right: 0;
  }
}

@media screen and (max-width: $viewport-xl) {
  .section {
    padding: 133px 30px 20px;
  }

  .title,
  .hint {
    text-align: center;
  }
}

@media screen and (max-width: $viewport-lg) {
  .section {
    overflow-y: scroll;
  }
}

@media screen and (max-width: $viewport-md) {
  .section {
    padding: 0 0 24px;
    display: flex;
    flex-direction: column;
    gap: 105px;
  }
}

@media screen and (max-width: $viewport-sm) {
  .title {
    font-size: 18px;
  }
}

@media screen and (max-width: $viewport-xs) {
  .section {
    padding: 0 0 24px;
  }
}


